<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY LIBRARY</title>
    <link
      rel="shortcut icon"
      href="https://sidcupfamilygolf.com/wp-content/themes/puttosaurus/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    
  </head>

  <body>
    
    <div id="nav">
      <img 
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGIFr0ef6YrzLYIYQCc3i5C3bKF1ODBetb525LYaGOS4GLQ1Ds14Mmlnzvc0PFKU_4kUc&usqp=CAU"
        alt=""
      />
      <a href="#about"> Gallery</a>
       
      <a href="#about">Academics</a>
      <a href="#about">Novels</a>
      <a href="#about">Litratures</a>
      <a href="#about">Poetry</a>
      
    </div>
    <div id="cursor"></div>
    <div id="cursor-blur"></div>

    <video
      autoplay
      loop
      muted
      src="https://sidcupfamilygolf.com/wp-content/uploads/2023/02/hero.mp4"
    ></video>
    
    <div id="main">
      <div id="page1">
       
        <br><br>
        <h1>Read ' Think & Implement.</h1>
        <h2>WELCOME TO MY COLLECTIONS!</h2>
        <h4>
          <b>MyLibrary gives you a best creation of knowledge.<br>According to your interest it can recommend your choice</b>
        </h4>
        <div id="arrow">
          <i class="ri-arrow-down-line"></i>
        </div>
      </div>
      <div id="page2">
        <div id="scroller">
          <!-- <div id="scroller-in">
            <h4> REAL POWER</h4>
            
          </div>
          <div id="scroller-in">
            <h4> REAL POWER</h4>
            
          </div> -->
          <BR><hr><br>
        </div>
        <div id="about-us">
          <img
            src="https://www.thestatesman.com/wp-content/uploads/2022/10/Untitled-design-2022-10-10T092230.597.jpg"
            alt=""
          />
          <div id="about-us-in">
            <h3 id="about">ABOUT US</h3>
            <p>
              My collection also encourages the person standing at the end of the line. Except academics(because these are specially useful for Engineering System), All books are full of inspiration..
              Once you'll start reading these novels you won't stop before finishing it.Most of the collection dedicated to aspirants.Other collection
              make a social sense & Philosophical approach. <br>    My Poetic set reflects the diversity of human behavior.
            </p>
          </div>
          <img
            src="https://miro.medium.com/v2/resize:fit:1400/1*BFS9oTnrShsV6ETUlEs8vQ.jpeg"
            alt=""
          />
        </div>

        <br><br>
        <div id="cards-container">
          <div class="card" id="card1">
            <div class="overlay">
              <h4>डार्क हॉर्स (Dark Horse)</h4>
              <p>
                It's one of the most fascinating book i've ever read.After reading this book I felt that... The lines on your palm ain't your destiny and can't decide your future instead it is you who can make your own destiny by your actions & skills.

              </p><br>
              <div  id="buy"> <a href="https://www.amazon.in/Dark-Horse-Ek-Ankahi-Dastan/dp/9386850591"> <b>Buy Now</b></a></div>
             
              
            </div>
           
          </div>
          <div class="card" id="card2">
            <div class="overlay">
              <h4>औघड़ </h4>
              <p>
                Read if you missed Premchand ,missed your village your roots,if you like to laugh and cry at the same time.
              </p><br>
              <div  id="buy"> <a href="https://www.amazon.in/Aughad-Nilotpal-Mrinal/dp/9387464504/ref=sr_1_1?crid=2JG4KKIRJBR5F&dib=eyJ2IjoiMSJ9.kyAeyEcIDeMjqzomzXoIhESIJ3eN0huSiDESXLu5R-0F09bnb7JWcrdcTYN0PbvL5RmhIMN74W8Hi83KSXcXC2y5ogQp3JrhhhysdXVpsS30JnAJ2ZTJD84OiWwnp-yHpdDbzdBhS5muhGL3HLgEVxaYfYYFbieahF1vJreK7FfanlrYUrO05253df_wG3kFXJ58KQSYXSoXpyFky51ky-vK6gOw0Ql95lpUF4bGiRM.iWEF5RnDq5urDG5BTAZEDTQLh11gxM0kEcU_i7wmk-k&dib_tag=se&keywords=aughad&qid=1721256178&s=books&sprefix=augha%2Cstripbooks%2C572&sr=1-1"> <b>Buy Now</b></a></div>
            </div>
          </div>
          <div class="card" id="card3">
            <div class="overlay">
              <h4>सोफी का संसार</h4>
              <p>
                Pashchatya Jagat Ki Darshan-Gatha :<br>
                 It defines the mystery of the origin of the world
              </p><br>
              <div  id="buy" style="color: black;"> <a href="https://www.amazon.in/-/hi/Jostein-Gaarder/dp/8126729333"> <b>Buy Now</b></a></div>
            </div>
          </div>
          
         
        </div>
        <br>
        
       
        
        <br>
        <!-- <div id="green-div">
          <img
            src="https://m.media-amazon.com/images/I/41B+bU2wILL.jpg"
            alt=""
          />
          <h4>
            SIGN UP FOR SIDCUP NEWS AND SPECIAL OFFERS STRAIGHT TO YOUR INBOX
          </h4>
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
            alt=""
          />
        </div> -->
      </div>
      
      <h2 style="text-decoration: underline;"><b>Rate & Review</b> </h2>
      <div id="addon">
       
   
        <form id="rev" action="/action">
          <h2 style="color: red;">Audience Reviews-</h2><br>
          <h3 >&nbsp;&nbsp;Add your comment-</h3>
          
        <br><br>
         <input id="inp" placeholder="E-mail"><br>
          <textarea  placeholder="What do you think of this book?" id="user" rows="5" cols="50"></textarea>
        
          
          <button >Submit</button>
          <h3 id="parag"><b>E-mail</b></h3>
        <p id="para" style="margin-left: 90px;">Comment-- </p>
        </form>
        
          <br>
        
       </div>
      <h3 id="em"> abcd@gmail.com-</h3>
      <p id="marg">Comment--  Dark Horse is the best motivational book for any upsc aspirants.<br>Every student follow this  quote<br>"Kadi Mehnat aur sachhi lagan hoto har ek vyakti 'DARK HORSE' ban sakta hai.</p>
      <br><h3 id="em"> pqr@gmail.com</h3>
      <p id="marg">Comment--  Nillotapal Mrinal is one the best Hindi writer of this era.<br>
        Dark horse and aughad are masterpiece ,every one should study these amazing books.</p>
      <br><h3 id="em"> xyz@gmail.com</h3>
      <p id="marg">Comment-- 
        Sophie Ka Sansar: Philosophy, Wisdom, and Wonder<br>'Who am I?' 'How did this world come into existence?'
        The reader is introduced to these questions through a mysterious and interesting incident in the very first chapter of the novel.
      <div id="page3">
        <p>

          "You want weapons? We’re in a library. <br>
          Books are the best weapon in the world. <br>
          This room’s the greatest arsenal we could have.<br>
           Arm yourself!"<br>



        </p>
        <img
          id="colon1"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-left.svg"
          alt=""
        />
        <img
          id="colon2"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-right.svg"
          alt=""
        />
      </div>
     
      <div id="footer">
        <img
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-footer.svg"
          alt=""
        />
        <div id="f1">
          <img
            src="https://cdn.dribbble.com/userupload/4797222/file/original-ff4d94327e76e47822abd9b67fe8e29f.jpg?resize=400x300&vertical=center"
            alt=""
          />
        </div>
        <div id="f2">
          <h3>For more Libraries-</h3>
          <h3>Web Development</h3>
          <h3>JAVA</h3>
          <h3>DSA</h3>
         
          
        </div>
        <div id="f3">
          <h3>Contact us</h3>
          <h3>prasoon tiwari</h3>
          <h3>~8602371872</h3>
        </div>
        <div id="f4">
          <h4><br><br>
             JECRC University<br />
            Jaipur<br />
            
           <br />
             <br />
             <br />
          </h4>
        </div>
      </div>
      
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
      integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
      integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    
    
  </body>
  <script src="/app.js"></script>
</html>