<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet"  href="/form.css">
</head>
<body>
    <form  method="post" action="http://localhost:8080/riyagarg@gmail.com/1234">
        <div id="form">
             <h1>MyLibrary</h1>
             <div id="use"> <input placeholder="Phone number , username or email" name="user" type="user"></div>
             <br>
                 <div id="pass">  <input placeholder="Password" name="pass" type="pass"></div>
                 <br><br>
                     <div>  <button>Log in</button> </div>
                     <h3>-----------OR-----------</h3>
                    <img src="https://st4.depositphotos.com/1842549/20789/i/450/depositphotos_207892676-stock-photo-library-icon-internet-button-white.jpg" alt=""> 
                     <h4>Login With Library Managment</h4>>
</body>
</html>